@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	overflow-x: hidden; 
}

/* main styles
------------------------------------------------------- */

p {
	font-family: 'Lato', sans-serif;
}

p.section {
	font-size: 1.4vw;
	line-height: 2.2em;
}

p.review {
	font-size: 2.4vw;
	line-height: 2.2em;
}

p.small {
	font-size: 0.9em;
	font-weight: 100;
	line-height: 1.8em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.4vw;
}

h1.review {
	margin: 160px 0px 10px 0px;
	font-size: 3vw;
	font-weight: 400;
}
h1.form {
	margin: 160px 0px 10px 0px;
	font-size: 3vw;
	font-weight: 400;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

h2.text-primary {
	font-weight: 300;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.8vw;
}

h3.review {
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
	font-weight: 300;
}
h3.form {
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
	font-weight: 300;
}

h3.faqs {
	font-family: 'Lato', sans-serif;
	font-size: 1.8vw;
	font-weight: 300;
}

ul {
	list-style-type: none;
	text-align: right;
}

ul li {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.3em;
	line-height: 1.4em;
}

ul li.service {
	font-size: 1em;
	line-height: 1.8em;
}

img.header {
	width: 300px;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: 120px;
}

img.section {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: -999;
}

img.contact {
	width: 200px;
	margin-top: 60px;
	margin-left: 60px;
}
img.bottom {
	bottom: 0;
	width: 240px;
	display: block;
	position: relative;
	opacity: 0.4;
	margin-left: 40px;
}

img.about {
	width: 50%;
	position: fixed;
	z-index: -99999;
}

img.about-logo {
	width: 140px;
	margin: 60px 74px 20px 0px;
	float: right;
}

svg {
	overflow: visible;
}

.text-box {
	padding: 200px 80px 200px 80px;
}

.faqs-box {
	padding: 100px 80px 100px 80px;
}

.customer {
		font-size: 1.6em;
}

.text-contact {
	margin-top: 40px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	line-height: 1.8em;
	font-weight: 300;
}

.text-white {
	color: #fff;
}

.text-black {
	color: #000;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.margin {
	margin: 60px 60px 60px 60px;
}

.less-line-height {
	line-height: 1.4em;
}

/* backgrounds */

.bg-blue {
	background-color: #000066;
}

.bg-light-blue {
	background-color: #0099ff;
}

.bg-green {
	background-color: #33ffcc;
}

.bg-grey {
	background-color: #cccccc;
}

.bg-black {
	background-color: #000;
}

.bg-white {
	background-color: #fff;
}

.bg-gradient {
	background-image: linear-gradient(to right top, #ffffff, #f5fcff, #e0fcff, #c3feff, #aaffff);
}

/* interaction styles
------------------------------------------------------- */

input {
	color: #7fcfff;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	width: 80%;
	padding: 20px;
}


fieldset {
	border: none;
	text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}

#thanks {
	display: none;
}


button {
	text-decoration: none;
}

button.active {
	color: #0066ff;
	text-decoration: none;
}

button:hover {
	color: #0066ff;
	transition: 0.3s;
}

.arrow-btn {
	font-size: 1.6em;
	background-color: transparent;
	border: none;
	margin: 0 auto;
	width: 100%;
}

.arrow-btn:hover {
	color: #33ffcc;
	transition: 0.5s;
	transform: translate(0px,8px);
}

.arrow-btn:not(:hover) {
	transition: 0.5s;
}

/* review */
.rvw {
		padding: 200px 10px 80px 10px;
	}
.rvw-left {
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate(0%,-50%);
	background-color: transparent;
	color: #000;
	font-size: 1.8em;
	border: none;
}

.rvw-right {
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translate(0%,-50%);
	background-color: transparent;
	color: #000;
	font-size: 1.8em;
	border: none;
}

/* submit button */
.submit {
	background-color: transparent;
	border: none;
	margin-top: 40px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.submit:hover {
	color: #33ffcc;
}

/* FAQs tab content*/

.faqs-small-size {
	display: none;
}

.tabcontent {
	font-size: 1em;
	font-weight: 300;
	color: #000;
	display: block;
	text-align: left;
	line-height: 1.6em;
	position: relative;
}

.faqstab {
	background-color: transparent;
	color: #000;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	border: none;
	text-align: left;
	margin-top: 20px;
}

/* FAQs tab content responsive */

button.accordion {
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    color: #0066ff;
	transition: 0.3s;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* menu
------------------------------------------------------- */

.menu {
	margin-top: 40px;
	right: 40px;
	position: fixed;
	z-index: 999;
	width: 60px;
}

.menu-txt {  
	margin-right: 20px;
	margin-bottom: 40px;
	display: block;
	float: right;
	text-align: right;
	font-weight: 300;
	line-height: 1.6em;
}

img.menu-in {
	width: 200px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align:left;
	font-family: 'Lato', sans-serif;
	color: #000;
	opacity: 0.9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #3cf7b9;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}


/* grid
------------------------------------------------------- */

.container {
	margin: 0 auto;
	width: 100%;
	height: 678px;
}

.row {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.col-md-8 {
	width: 66%;
	height: 678px;
	display: block;
	position: relative;
}

.col-sm-8 {
	width: 66%;
	height: 678px;
	display: block;
	position: relative;
}

.col-lg-6 {
	width: 50%;
	display: block;
	position: relative;
}

.col-md-6 {
	width: 50%;
	height: 678px;
	display: inline-block;
	position: relative;
}

.col-sm-6 {
	width: 50%;
	display: inline-block;
	position: relative;
}

.col-xs-6 {
	width: 100%;
	display: block;
	position: relative;
	margin-top: 20px;
}

.col-md-4 {
	width: 33%;
}

.col-sm-4 {
	width: 33%;
}

.col-md-3 {
	width: 25%;
	height: 578px;
}

.col-sm-3 {
	/*width: 25%;*/
	display: inline-block;
	margin-top: 100px;
	margin-left: 40px;
}

.col-xs-3 {
	width: 50%;
}

/* about-section */

#about-section {
	height: 700px;
	display: none;
}

.field {
	float: left;
	width: 50%;
	height: 60px;
}

.field-date {
	width: 47%;
	float: left;
	margin-top: 4px;
}

.field select {
   background: transparent;
   font-family: 'Lato', sans-serif;
   color: #7fcfff;
   font-weight: 100;
   width: 92%;
   padding-left: 14px;
   padding-bottom: 10px;
   margin-top: 24px;
   font-size: 16px;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   text-decoration: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid #fff;
}

.date-txt {
   font-family: 'Lato', sans-serif;
   color: #fff;
   font-size: 1em;
   font-weight: 100;
   margin-top: 26px;
   padding-left: 2px;
   margin-left: -14px;
   opacity: 0.6;
}

/* Responsive styles 
------------------------------------------------------- */

/* Mobile */
@media only screen and (max-width: 480px) {
	p {
		font-size: 0.8em;
		font-weight: 100;
		line-height: 1.6em;
	}
	p.section {
		font-size: 0.8em;
	}
	p.review {
    	font-size: 1em;
    	line-height: 1.8em;
	}
	h1.form {
    	margin: 60px 0px 10px 0px;
    	font-size: 1.2em;
    	font-weight: 400;
		line-height: 1.4em;
	}
	h2 {
		font-size: 1.2em;
	}
	h2.header {
		font-size: 1em;
	}
	h3.faqs {
    	font-size: 1em;
		line-height: 1.6em;
		margin-top: 20px;
		margin-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
	}
	h3.form {
		font-size: 0.8em;
	}
	
	/* menu */
	.sidenav a {
		font-size: 1.4em;
	}
	img.menu-in {
		width: 40%;
	}
	
	
	img.header {
		width: 200px;
		margin-top: 60px;
	}
	.less-line-height {
    	line-height: 1em;
	}
	.menu {
		margin-top: 20px;
		right: 20px;
		position: fixed;
		z-index: 999;
		width: 30px;
	}
	.margin {
		margin: 30px 60px 30px 60px;
	}
	.text-box {
    	padding: 80px 40px 40px 40px;
	}
	.col-sm-8 {
		width: 140%;
	}
	.col-md-6 {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 400px;
	}
	.col-sm-6 {
		position: relative;
		height: 678px;
	}
	.col-sm-4 {
		width: 100%;
	}
	.col-sm-3 {
		width: 15%;
		margin-top: 40px;
	}
	.rvw {
    	padding: 270px 10px 80px 10px;
	}
	.rvw-left {
		font-size: 1.4em;
	}
	.rvw-right {
		font-size: 1.4em;
	}
	.customer {
    	font-size: 1em;
	}
	.faqs-big-size {
		display: none;
	}
	.faqs-small-size {
		display: block;
	}
	.faqs-box {
    	padding: 20px 20px 20px 20px;
	}
	button.accordion {
		padding: 6px;
		font-size: 0.8em;
	}
	div.panel {
    	padding: 0 7px;
	}
	fieldset {
		margin-top: -20px;
	}
	.field {
    	float: left;
    	width: 100%;
	}
	.submit {
		margin-top: 10px;
		font-size: 0.9em;
	}
	img.contact {
    	width: 120px;
		margin-top: 40px;
		margin-left: 40px;
	}
	ul li {
    	font-weight: 100;
    	font-size: 0.9em;
    	line-height: 1.4em;
	}
}

/* Tablet vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.menu {
		width: 40px;
		margin-top: 20px;
		right: 20px;
	}
	p.section {
		font-size: 0.9em;
		line-height: 2em;
	}
	p.review {
    	font-size: 1.2em;
    	line-height: 1.6em;
    	padding-top: 140px;
	}
	h1.review {
    	margin: 80px 0px 10px 0px;
    	font-size: 1.4em;
    	font-weight: 400;
    	line-height: 1.6em;
	}
	h1.form {
    	margin: 80px 0px 10px 0px;
    	font-size: 1.4em;
    	font-weight: 400;
    	line-height: 1.6em;
	}
	h2 {
		font-size: 1.2em;
	}
	h3.faqs {
    	font-family: 'Lato', sans-serif;
    	font-size: 1.4em;
    	font-weight: 300;
		padding-top: 60px;
    	padding-left: 60px;
    	padding-right: 60px;
    	line-height: 1.6em;
	}
	h3.review {
    	font-family: 'Lato', sans-serif;
    	font-size: 1em;
   		font-weight: 300;
	}
	h3.form {
    	font-family: 'Lato', sans-serif;
    	font-size: 1em;
   		font-weight: 300;
	}
	ul li {
    	font-weight: 100;
    	font-size: 1em;
    	line-height: 1.4em;
	}
	img.contact {
    	width: 200px;
    	margin-top: 20px;
    	margin-left: 30px;
	}
	img.bottom {
		display: none;
	}
	img.section {
		max-width: 100%;
		min-height: 100%;
		z-index: -999;
	}
	.text-box {
		padding: 80px 80px 80px 80px;
	}
	.faqs-box {
		padding: 50px 20px 100px 20px;
	}
	.field {
		float: left;
		width: 100%;
	}
	.col-md-6 {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 400px;
	}
	.col-sm-6 {
		position: relative;
		height: 678px;
	}
	.col-xs-6 {
		position: relative;
		display: inline-block;
	}
	.col-md-4 {
		width: 100%;
	}
	.col-sm-4 {
		width: 100%;
	}
	.col-md-3 {
	}
	.col-sm-3 {
		position: relative;
		display: block;
		margin-right: 40px;
	}
	.col-xs-3 {
		display: inline-block;
		position: relative;
	}
	.faqs-big-size {
		display: none;
	}
	.faqs-small-size {
		display: block;
		height: 940px;
	}
	.form-sm {
		height: 940px;
	}
	.rvw {
		padding: 120px 10px 80px 10px;
	}
	.customer {
		font-size: 1.2em;
	}
	.less-line-height {
    	line-height: 0.4em;
	}
	.date-txt {
		margin-left: -22px;
	}
	.field-date {
		width: 50%;
	}
	.field select {
		width: 92%;
		margin-top: 14px;
	}
	.submit {
		margin-top: 30px;
	}
}

/* Tablet landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Bigger screens */
@media only screen and (min-width: 1025px) {
	
}

