@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	overflow-x: hidden; 
}

/* main styles
------------------------------------------------------- */

p {
	font-family: 'Lato', sans-serif;
}

p.section {
	font-size: 1.4vw;
	line-height: 2.2em;
}

p.review {
	font-size: 2.4vw;
	line-height: 2.2em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 2.4vw;
}

h1.review {
	margin: 160px 0px 10px 0px;
	font-size: 3vw;
	font-weight: 400;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
}

h2.text-primary {
	font-weight: 300;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.8vw;
}

h3.review {
	font-family: 'Lato', sans-serif;
	font-size: 2vw;
	font-weight: 300;
}

h3.faqs {
	font-family: 'Lato', sans-serif;
	font-size: 1.8vw;
	font-weight: 300;
}

ul {
	list-style-type: none;
	text-align: right;
}

ul li {
	list-style-type: none;
}

img {
}

img.header {
	width: 300px;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: 120px;
}

img.section {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	z-index: -999;
	min-height: 680px;
}

img.contact {
	width: 300px;
	opacity: 0.5;
	margin-top: 60px;
}

svg {
	overflow: visible;
}

.text-box {
	padding: 200px 80px 200px 80px;
}

.faqs-box {
	padding: 100px 80px 100px 80px;
}

.text-contact {
	margin-top: 40px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.4vw;
	line-height: 1.8em;
	font-weight: 300;
}

.text-white {
	color: #fff;
}

.text-black {
	color: #000;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.margin {
	margin: 60px 60px 60px 60px;
}

.less-line-height {
	line-height: 1.4em;
}

/* backgrounds */

.bg-blue {
	background-color: #000066;
}

.bg-light-blue {
	background-color: #0099ff;
}

.bg-green {
	background-color: #33ffcc;
}

.bg-black {
	background-color: #000;
}

.bg-white {
	background-color: #fff;
}

/* interaction styles
------------------------------------------------------- */

input {
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	width: 80%;
	padding: 20px;
}

fieldset {
	border: none;
	text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Lato', sans-serif;
  color: #cccccc;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Lato', sans-serif;
  color: #cccccc;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Lato', sans-serif;
  color: #cccccc;
  font-size: 1.4em;
  font-weight: 100;
  padding-left: 12px;
}

button {
	text-decoration: none;
}

button.active {
	color: #0066ff;
	text-decoration: none;
}

button:hover {
	color: #0066ff;
	transition: 0.3s;
}

/* review button */

.rvw-left {
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate(0%,-50%);
	background-color: transparent;
	color: #000;
	font-size: 1.8em;
	border: none;
}

.rvw-right {
	position: absolute;
	top: 50%;
	right: -20%;
	transform: translate(0%,-50%);
	background-color: transparent;
	color: #000;
	font-size: 1.8em;
	border: none;
}

/* submit button */
.submit {
	border: none;
	margin-top: 40px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

/* FAQs tab content*/

.faqs-small-size {
	display: none;
}

.tabcontent {
	font-size: 1em;
	font-weight: 300;
	color: #000;
	display: block;
	text-align: left;
	line-height: 1.6em;
	position: relative;
}

.faqstab {
	background-color: transparent;
	color: #000;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	border: none;
	text-align: left;
	margin-top: 20px;
}

/* FAQs tab content responsive */

button.accordion {
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    color: #0066ff;
	transition: 0.3s;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* menu
------------------------------------------------------- */

.menu {
	margin-top: 40px;
	margin-left: 40px;
	position: fixed;
	z-index: 999;
}

.menu-txt {  
	margin-right: 20px;
	margin-bottom: 40px;
	display: block;
	float: right;
	text-align: right;
	font-weight: 300;
	line-height: 1.6em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
    text-align:left;
	font-family: 'Lato', sans-serif;
	color: #000;
	opacity: 0.9;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #3cf7b9;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* grid
------------------------------------------------------- */

.container {
	margin: 0 auto;
	width: 100%;
	height: 678px;
}

.row {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.col-md-8 {
	width: 66%;
	height: 678px;
	display: block;
	position: relative;
}

.col-sm-8 {
	width: 66%;
	height: 678px;
	display: block;
	position: relative;
}

.col-lg-6 {
	width: 50%;
	display: block;
	position: relative;
}

.col-md-6 {
	width: 50%;
	height: 678px;
	display: inline-block;
	position: relative;
}

.col-sm-6 {
	width: 20%;
	display: inline-block;
	position: relative;
}

.col-xs-6 {
	width: 100%;
	display: block;
	position: relative;
}

.col-md-4 {
	width: 33%;
}

.col-sm-4 {
	width: 33%;
}

.col-md-3 {
	width: 25%;
	height: 578px;
}

.col-sm-3 {
	width: 25%;
}

.col-xs-3 {
	width: 50%;
}

.field {
	float: left;
	width: 50%;
}

.field-date {
	width: 47%;
	float: left;
	margin-top: 4px;
}

.field select {
   background: transparent;
   font-family: 'Lato', sans-serif;
   color: #cccccc;
   font-weight: 100;
   width: 92%;
   padding-left: 14px;
   padding-bottom: 10px;
   margin-top: 24px;
   font-size: 16px;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   text-decoration: none;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid #fff;
}

.date-txt {
   font-family: 'Lato', sans-serif;
   color: #cccccc;
   font-size: 1em;
   font-weight: 100;
   margin-top: 26px;
   padding-left: 2px;
}

/* Responsive styles 
------------------------------------------------------- */

/* Mobile */
@media only screen and (max-width: 480px) {
	.col-md-6 {
		width: 100%;
		position: relative;
	}
	.faqs-big-size {
		display: none;
	}
	.faqs-small-size {
		display: block;
	}
	
}

/* Tablet vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.field {
	float: left;
	width: 100%;
}
	.col-md-6 {
		width: 100%;
		display: inline-block;
		position: absolute;
	}
	.faqs-big-size {
		display: none;
	}
	.faqs-small-size {
		display: block;
	}
}

/* Tablet landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Bigger screens */
@media only screen and (min-width: 1025px) {
	
}

