@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
}

/* text styles
------------------------------------------------------- */


/* interaction styles
------------------------------------------------------- */


/* menu
------------------------------------------------------- */


/* grid desktop
------------------------------------------------------- */

.container {
	
}

.row {
	
}

.col-md-8 {
	width: 66%;
}

.col-sm-8 {
	width: 66%;
}

.col-lg-6 {
	width: 50%;
}

.col-md-6 {
	width: 50%;
}

.col-sm-6 {
	width: 50%;
}

.col-xs-6 {
	width: 100%;
}

.col-md-4 {
	width: 33%;
}

.col-sm-4 {
	width: 33%;
}

.col-md-3 {
	width: 25%;
}

.col-sm-3 {
	width: 25%;
}

.col-xs-3 {
	width: 50%;
}


/* Responsive styles 
------------------------------------------------------- */

